body::after{
    position:absolute;
    width:0; height:0;
    overflow:hidden;
    z-index:-1;
    content:url(background_img.png);
 }


#loader-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #dbdbdb;
    opacity: 0.98;
    -webkit-transition: opacity 1500ms ease-in;
    transition: opacity 1500ms ease-in;
    z-index:10;
  }

#loader {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 10;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #ececec;
    border-radius: 50%;
    border-top: 16px solid #808080;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    -webkit-transition: opacity 1000ms ease-in;
    transition: opacity 1000ms ease-in;
  }
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.bg {
    width:100%;
    height:100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("background_img.png");
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    filter: blur(0.5em);
    z-index: -1;
}

html {
    height:100%;
    width:100%;
    box-shadow: inset 0em 2em 2em 2em rgba(10,10,10,0.7);
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    letter-spacing: 0.08em;
}

.mainframe {
    z-index: 1;
    margin-top:0.6vh;
    margin-bottom:3em;
    padding-top:2em;
    text-align:center;
}

.avi {
    width:9em;
    height:9em;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    box-shadow: 0.1em 0.1em 1em 0.01em rgba(60,60,60, 0.3);
    transition: 0.3s ease-in-out;
    margin-bottom:0.6vh;
}

.avi:hover {
    box-shadow: 0.1em 0.1em 1.7em 0.03em rgba(80,80,80,0.4);
}

h1 {
    color: white;
    text-align:center;
    padding-bottom:0.8vh;
    font-family: calibri;
    font-weight:700;
}

h1 span {
    transition: 0.2s ease-in-out;
    text-shadow: 0.1em 0.1em 0.15em rgba(145, 145, 145,0.7), 0em 0.15em 1.1em rgba(20,20,20,0.15);
}

h1 span:hover {
    text-shadow: none;
}

.verticallinks {
    display:table;
    list-style-type: none;
    margin: 0 auto;
    padding: 0em;
    background-color:rgba(18,18,18,0.9);
    box-shadow: 0.3em 0.8em 2em 0.0001em rgba(47,47,47,0.75);
    width: 45vmax;
}

.verticallinks li {
    padding:0em;
    padding-bottom:0.2em;
}

.verticallinks li a {
    font: calibri;
    display: block;
    color: white;
    text-decoration: none;
    background-color:rgb(38, 38, 38);
    letter-spacing: 0.2em;
    font-weight: bold;
    height:4em;
    transition: 0.25s ease-out;
}

.verticallinks li a .a {
    vertical-align:middle;
    z-index:1;
}

.verticallinks li:hover a {
    background-color:rgba(25, 25, 25, 0.5);
    box-shadow: 0.1em 0.1em 1em 0.01em rgba(10,10,10,0.2);
}

.verticallinks li:active a {
    opacity:0.2;
}

.verticallinks:hover li:not(:hover) a {
    filter: blur(0.08em);
    opacity:0.6;
}

.subtext {
    padding:0;
    padding-bottom:1.5em;
    margin:0;
    color:white;
    text-shadow: 0.1em 0.1em 0.6em rgba(20,20,20,0.15);
}

.socialicons {
    text-align:center;
    display:table;
    list-style-type: none;
    padding: 0em;
    margin: 0 auto;
    margin-top: 3vh;
}

.socialicons li {
    display: inline-block;
    padding:0em;
    padding-right:2em;
    padding-left: 2em;
    margin-left: 0;
    margin-right: 0;
    padding-bottom:0.5em;
    padding-top:0.5em;
    width:2em;
}

.socialicons li a {
    text-decoration:none;
    transition: 0.17s ease-out;
}


.socialicons li a svg {
    width:2em;
    fill:rgba(250,250,250,0.7);
}

.socialicons li a svg:hover {
    opacity:0.8;
    transform: rotate(360deg);
    transition-duration: 0.6s;
}

.socialicons:hover li:not(:hover) a {
    filter: blur(0.08em);
    opacity:0.6;
}

.footer {
    color: rgb(26, 26, 26);
    position:fixed;
    bottom: 0;
    left: 0;
    right: 0;
    opacity:0.15;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:1.6vh;
    font-weight:600;
    letter-spacing: 0.04em;
    transition: 0.3s ease-in-out;
}

.footer:hover {
    opacity:0.3;
}