html {
    height:100%;
    width:100%;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    letter-spacing: 0.08em;
}

.mainframe {
    z-index: 1;
    margin-top:3vh;
    margin-bottom:3em;
    padding-top:2em;
    text-align:center;
}

.avi {
    width:9em;
    height:9em;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    box-shadow: 0.1em 0.1em 1em 0.01em rgba(0, 0, 0, 0.3);
    transition: 0.3s ease-in-out;
    margin-bottom:0.6vh;
}

.avi:hover {
    box-shadow: 0.1em 0.1em 1.7em 0.03em rgba(0, 0, 0, 0.3);
}

h1 span:hover {
    text-shadow: none;
}

.verticallinks {
    display:table;
    list-style-type: none;
    margin: 0 auto;
    padding: 0em;
    background-color:rgba(15,15,15,0.9);
    box-shadow: 0.3em 0.8em 2em 0.0001em rgba(0, 0, 0, 0.5);
    width: 95vmin;
}

.verticallinks li {
    padding:0em;
    padding-top:0;
}

.verticallinks li a {
    font: calibri;
    display: block;
    color: white;
    text-decoration: none;
    background-color:rgb(34, 34, 34);
    letter-spacing: 0.2em;
    font-weight: bold;
    height:4em;
    transition: 0.25s ease-out;
    position:relative;
    margin:auto;
    width:100%;
}


.verticallinks li a .a {
    vertical-align:middle;
    z-index:1;
    position:absolute;
    margin:auto;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:9em;
}


.verticallinks li a iframe {
    vertical-align:middle;
    position:absolute;
    margin:auto 0 auto auto;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:1000;
}

.verticallinks li:hover a {
    background-color:rgba(25, 25, 25, 0.5);
    box-shadow: 0.1em 0.1em 1em 0.01em rgba(0, 0, 0, 0.2);
}

.verticallinks li:active a {
    opacity:0.2;
}

.verticallinks:hover li:not(:hover) a {
    filter: blur(0.08em);
    opacity:0.6;
}

.subtext {
    padding:0;
    padding-bottom:1.5em;
    margin:0;
    color:white;
    text-shadow: 0.1em 0.1em 0.6em rgba(20,20,20,0.15);
}

.socialicons {
    text-align:center;
    display:table;
    list-style-type: none;
    padding: 0em;
    margin: 0 auto;
    margin-top: 3vh;
}

.socialicons li {
    display: inline-block;
    padding:0em;
    padding-right:2em;
    padding-left: 2em;
    margin-left: 0;
    margin-right: 0;
    padding-bottom:0.5em;
    padding-top:0.5em;
    width:2em;
}

.socialicons li a {
    text-decoration:none;
    transition: 0.17s ease-out;
}


.socialicons li a svg {
    width:2em;
    fill:rgba(250,250,250,0.7);
}

.socialicons li a svg:hover {
    opacity:0.8;
    transform: rotate(360deg);
    transition-duration: 0.6s;
}

.socialicons:hover li:not(:hover) a {
    filter: blur(0.08em);
    opacity:0.6;
}

.footer:hover {
    opacity:0.17;
}